mixin icon(name, color)
  svg(class = `icon icon-${name}${color ? ' icon-' + color: ''}`)&attributes(attributes)
    use(xlink:href = `/img/icons.svg#${name}`)

block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    meta(name='description', content=description)
    meta(name='keywords', content=keywords)
    link(rel='shortcut icon', type='image/x-icon', href=faviconUrl)
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    block additionStyle    
    title= title
  body
    div.PageWrapper
      header.text-white.py-2.Header.Header_show
        div.container
          div.d-flex.justify-content-between.align-items-center
            div.d-flex.align-items-center
              img(alt='Комплексная Интеграция', title='Комплексная Интеграция', src='/img/mainLogo.png').mr-2.Header-Logo
              h1.m-0.h4
                | КОМПЛЕКСНАЯ ИНТЕГРАЦИЯ
            //a(href='#about').d-none.d-xl-block
              | О компании            
            a(href='#services').d-none.d-xl-block
              | Услуги
            a(href='#contacts').d-none.d-xl-block
              | Контакты
            a(href="tel:+73852570176").d-flex.align-items-center
              +icon('tel').flex-shrink-0.mr-1
              span.d-none.d-md-block
                | +7 (3852) 57&ndash;01&ndash;76
      main
        block content
      footer
    
    script(type='text/javascript', src='/js/main.js')
    block additionScript